<!DOCTYPE html>
<html lang="en">
    <!--FIX ME FIX ME WHAT DOES THE NAVBAR LOOK LIKE???-->
    <head>
        <title>insta485</title>
        <style>
            .cande {
                text-align: right;
            }
            .navigation {
                background-color: lightgray;
            }
            .creating {
                display: inline-block;
                background-color: lightgray;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
        <ul style="background-color: rgb(0, 95, 51, 0.5)">
            <li><a href="{{ url_for('show_index') }}">I(a)NSTAGRAM!!</a></li>
            <li class="leftstuff"><a href="{{ url_for('show_explore') }}">explore</a></li>
            <li class="leftstuff"><a href="{{ url_for('show_user', user_url_slug=logname) }}">{{logname}}</a></li>
        </ul>
        <div class="create">
            <form action="/accounts/create/">
                <label for="file">Photo</label>
                <input type="file">
            </form>
        </div>
    </body>
</html>