{% extends "base.html" %}
{% block content %}
{% block content %}
    <body>
        <div class="box">
            <h1>{{logname}}</h1>
            <form action="{{ url_for('delete_account') }}?target={{ url_for('show_index') }}" method="post"
                enctype="multipart/form-data">
                <input type="submit" name="delete" value="confirm delete account" />
                <input type="hidden" name="operation" value="delete" />
            </form>
        </div>
    </body>
{% endblock %}