{% extends "base.html" %}
{% block content %}
    <body>
        <h3 class="header">Following: </h3>
        {% for follow in following %}
            <div class="follow">
                <img src="{{ url_for('send_file', filename=follow.user_img_url) }}" alt="Profile picture" class="larger_profpic">
                <a href="{{ url_for('show_user', user_url_slug=follow.username)}}">
                    <p>{{follow.username}}</p>
                </a>
                {% if follow.logname_follows_username == true and logname != follow.username %}
                    <p>following</p>
                {% elif follow.logname_follows_username == false and logname != follow.username %}
                    <p>not following</p>
                {% endif %}
            </div>
        {% endfor %} 
    </body>
{% endblock %}