{% extends "base.html" %}
{% block content %}
    <div>
        <form action="<FIXME_ACCOUNTS_URL_HERE>?target=<FIXME_EDIT_ACCOUNT_URL_HERE>" method="post" enctype="multipart/form-data">
            <label>Old password  </label><input type="password" name="password" required/>
            <label>New password  </label><input type="password" name="new_password1" required/>
            <label>New password, again  </label><input type="password" name="new_password2" required/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>
    </div>

    <div class="thing">
        <ul>
            <a href="{{ url_for('edit_profile')}}"><li>Back to edit account</li><br></a>
        </ul>
    </div>
{% endblock %}
